<div class="p-sm-12 p-md-12 p-lg-12 p-xl-12 Elevation-2dp">

  <p-card *ngIf="!showDetail">
    <span style="font-size: 1rem;color: #555;margin-left: 5px;font-weight: 500;padding: 0">
      <i class="fas fa-th back-btn-style"></i>
      <span class="card-title-style"> {{ 'SOFTWARE.TITLE' | translate }} :</span></span>

    <app-list-generic [data]="listAll" [columnModel]="columns" [title]="titlePage" (clickAdd)="addEntity()"
                      (clickShow)="showModelDetails($event)" (clickDelete)="confirm($event)"
                      (clickExportExcel)="exportAsXLSX()"
                      [display]="display">
    </app-list-generic>
    <h5>--- : {{_marque}}</h5>
  </p-card>

  <p-card *ngIf="showDetail">
    <add-software (showEvent)="showDetail=$event" [datasource]="listAll" (pushDataEvent)="listAll=$event"
                  [appModel]="selected" [addModel]="addMode" [editModel]="editMode" [items]="marquesList"
                  [displayRtl]="display"
                  (showDialogEvent)="display=$event" (loadFormEvent)="dlgGroups=$event"
                  (loadDataEvent)="dlgFormGroup=$event">
    </add-software>
  </p-card>

</div>

<div *ngIf="display">
  <app-add-dialog [datasource]="marquesList" [showDialog]="display" [service]="marqueService"
                  (pushDataEvent)="marquesList=$event" (hideDialogEvent)="display=$event" [dialogform]="dlgFormGroup"
                  [formsModels]="dlgGroups" (pushObjectEvent)="_marque=$event">
  </app-add-dialog>
</div>
