<div class="col-xs-10 col-sm-10 col-md-6 col-lg-4 login-panel Elevation-2dp" style="text-align: center;border-top: 2px solid #d7007f">
    <span class="error-title-style">404</span>
    <br />
    <i class="pi pi-ban" style="font-size: 120px;color:#00425c;"></i>

    <hr />
    <span class="error-text-style">Page Not Found</span>
    <p class="error-description-style">The page you requested cannot be found.</p>
    <p-button label="Go to home" icon="pi pi-home" (click)="goToHome()"></p-button>
</div>