<form #addForm="ngForm">
    <i class="pi pi-chevron-left ui-button-secondary back-btn-style" (click)="cancel()"></i>
    <span class="card-title-style">Marque info :</span>
    <hr />
    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 10px">
        <div class="ui-g">
            <div class="ui-g-4 ui-md-3 ui-lg-3">
                <label for="_label">Libellé</label>
                <span style="color:red"> *</span> :
            </div>
            <div class="ui-g-8 ui-md-8 ui-lg-8">
                <input type="text" id="_label" [pKeyFilter]="blockSpecial" required pInputText autofocus
                    [(ngModel)]="model.label" name="label" onkeyup="this.value = this.value.toUpperCase();"
                    class="form-control col-md-11 col-lg-11" placeholder="Libellé." minlength="2" #name="ngModel">
                <div *ngIf="name.errors?.minlength">
                    <p-message severity="error" text="Minimum 2 caractère."></p-message>
                </div>
            </div>
            <div class="ui-g-4 ui-md-3 ui-lg-3">
                <label for="_family_marque">Famille de marque :</label>
            </div>
            <div class="ui-g-8 ui-md-8 ui-lg-8">
                <p-dropdown id="_family_marque" [options]="marqueFamilyItems" [(ngModel)]="marqueFamily"
                    name="marqueFamily" placeholder="Select a Marque" [style]="{'width':'90%','float':'left'}"
                    optionLabel="label" [showClear]="true" [autoWidth]="false">
                </p-dropdown>
                <i class="fas fa-plus-square show-ref-dialog-style" (click)="showDialog()"></i>
            </div>


        </div>
    </div>
    <hr />
    <p-footer>
        <button pButton (click)="saveData()" icon="pi pi-check" label="Valider" [disabled]="!addForm.form.valid"
            class="ui-button-raised"></button>
        <p-button label="Fermer" icon="pi pi-times" (click)="cancel()" class="ui-button-raised"></p-button>
        <i class="pi pi-ellipsis-v" style="color: #999;margin-right: 5px"></i>
        <p-button label="Nouveau" icon="pi pi-plus" (click)="addEntity()" *ngIf="editModel" class="ui-button-raised">
        </p-button>
    </p-footer>
</form>


<app-add-dialog [datasource]="marqueFamilyItems" [appModel]="marqueFamily" [showDialog]="display"
    [service]="marqueFamilyService" (pushDataEvent)="marqueFamilyItems=$event" (hideDialogEvent)="display=$event"
    (pushModelEvent)="marqueFamily=$event">
</app-add-dialog>