<form [formGroup]="addForm" (ngSubmit)="saveDataForm(addForm.value)">
    <i class="pi pi-chevron-left ui-button-secondary back-btn-style" (click)="cancel()"></i>
    <span class="card-title-style">Marque info :</span>
    <hr />
    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-rtl ui-fluid" style="margin: 10px 10px"
        [dir]="'DISPLAY.RTL' | translate">
        <app-info-form-generic *ngFor="let item of formsGroups" [model]="item" [form]="addForm">
        </app-info-form-generic>
    </div>
    <hr />
    <p-footer>
        <button pButton type="submit" icon="pi pi-check" [label]="'COMMUN.BTN_VALIDATE' | translate"
            class="ui-button-raised" [disabled]="!addForm.valid"></button>
        <p-button [label]="'COMMUN.BTN_CANCEL' | translate" icon="pi pi-times" (click)="cancel()"
            class="ui-button-raised"></p-button>
        <i class="pi pi-ellipsis-v" style="color: #999;margin-right: 5px"></i>
        <p-button [label]="'COMMUN.BTN_NEW' | translate" icon="pi pi-plus" (click)="addEntity()" *ngIf="editModel"
            class="ui-button-raised">
        </p-button>
    </p-footer>
</form>


<!-- <app-add-dialog [datasource]="marqueFamilyItems" [showDialog]="display" [service]="marqueFamilyService"
    (pushDataEvent)="marqueFamilyItems=$event" (hideDialogEvent)="display=$event" [dialogform]="dlgFormGroup"
    (pushModelEvent)="marqueFamily=$event" [formsGroups]="dlgGroups">
</app-add-dialog> -->