<div class="p-sm-12 p-md-12 p-lg-12 p-xl-12 Elevation-2dp">

  <p-card *ngIf="!showDetail">
    <app-list-generic [data]="listAll" [columnModel]="columns" [title]="titlePage" (clickAdd)="addEntity()"
      (clickShow)="showModelDetails($event)" (clickDelete)="confirm($event)" (clickExportExcel)="exportAsXLSX()">
    </app-list-generic>
  </p-card>

  <p-card *ngIf="showDetail">
    <add-marque (showEvent)="showDetail=$event" [datasource]="listAll" (pushDataEvent)="listAll=$event"
      [appModel]="selected" [addModel]="addMode" [editModel]="editMode" [items]="marqueFamilies"></add-marque>
  </p-card>

</div>