<div class="col-xs-10 col-sm-10 col-md-6 col-lg-4 login-panel Elevation-2dp" style="text-align: center;border-top: 2px solid #d7007f">
  <span class="error-title-style">403</span>
  <br />
  <i class="pi pi-lock" style="font-size: 120px;color:#00425c;"></i>

  <hr />
  <span class="error-text-style">Access Denied</span>
  <p class="error-description-style">You don’t have permissions to access this resource</p>
  <p-button label="Go to login" icon="pi pi-chevron-circle-left" (click)="onLogOut()"></p-button>
</div>