<app-header [title]="appsTitle"></app-header>
<p-toast [style]="{marginTop: '20px'}" sticky=true></p-toast>
<ngx-spinner bdColor="rgba(255,255,255,0.8)" size="default" color="#d7007f" type="line-scale-party"></ngx-spinner>
<ng-progress [positionUsing]="'marginLeft'" [minimum]="0.15" [maximum]="1" [speed]="500" [showSpinner]="false"
    [direction]="'leftToRightIncreased'" [color]="'#d7007f'" [trickleSpeed]="500" [thick]="false" [ease]="'linear'">
</ng-progress>
<div style="margin-bottom: 40px">
    <router-outlet></router-outlet>
</div>

<p-confirmDialog></p-confirmDialog>
<app-footer [leftText]="appsTitle" [rightText]="appsCopyright"></app-footer>