<p-dialog header="Nouvelle marque" [(visible)]="showDialog" [modal]="true" [responsive]="true"
  [style]="{width: '450px', minWidth: '200px'}" [minY]="70" [baseZIndex]="10000" (onHide)="onHide($event)">
  
  <form [formGroup]="dialogform" (ngSubmit)="saveDataForm(dialogform.value)">
    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 10px">
      <div class="ui-g" *ngFor="let item of formsGroups" [ngSwitch]="item.controlType">
        <div class="ui-g-4 ui-md-3 ui-lg-3">
          <label for="_label">{{item.label}}</label>
          <span style="color:red" *ngIf="item.required"> *</span> :
        </div>
        <div class="ui-g-8 ui-md-8 ui-lg-8">
          <input *ngSwitchCase="'text'" type="text" [id]="item.column" [pKeyFilter]="blockSpecial" pInputText autofocus
            [formControlName]="item.column" class="form-control col-md-11 col-lg-11" placeholder="Libellé.">
          <ng-select *ngSwitchCase="'select'" [items]="item.options" bindLabel="label" bindValue="id"
            [formControlName]="item.column" [id]="item.column">
          </ng-select>
          <div *ngIf="!dialogform.controls[item.column].valid&&dialogform.controls[item.column].dirty">
            <p-message severity="error" text="{{item.message}}" style="width: 90%"></p-message>
          </div>

        </div>
      </div>
    </div>

    <hr />

    <p-footer>
      <button type="submit" pButton icon="pi pi-check" [disabled]="!dialogform.valid" label="Valider"></button>
      <button type="button" pButton icon="pi pi-times" (click)="hideDialog()" label="Fermer"></button>
    </p-footer>
  </form>

</p-dialog>